{% extends 'base.html' %}

{% block main %}

{% include 'flash_messages.html' %}

<h2>Add New Property</h2>

<form action="{{ url_for('create') }}" class="row g-3" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div class="col-12">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.desc.label(class="form-label") }}
        {{ form.desc(class="form-control") }}
    </div>

    <div class="col-md-6">
      {{ form.bedrooms.label(class="form-label") }}
      {{ form.bedrooms(class="form-control") }}
    </div>

    <div class="col-md-6">
      {{ form.bathrooms.label(class="form-label") }}
      {{ form.bathrooms(class="form-control") }}
    </div>

    <div class="col-md-6">
      {{ form.price.label(class="form-label") }}
      {{ form.price(class="form-control") }}
    </div>

    <div class="col-md-6">
      {{ form.type.label(class="form-label") }}
      {{ form.type(class="form-control") }}
    </div>

    <div>
      {{ form.location.label(class="form-label") }}
      {{ form.location(class="form-control") }}
    </div>

    <div>
      {{ form.photo.label(class="form-label") }}
      {{ form.photo (class="form-control") }}
    </div>

    <div>
      {{form.submit(class="btn btn-primary")}}
    </div>
  </form>

{% endblock %}