
{% extends 'base.html' %}

{% block main %}

    <div class="card prop-card">

        <img class="card-img-top" src="{{ url_for('get_photo', filename=prop.photo_filename) }}" />
            
        <div class="card-body prop-card-body">
            <h3 class="card-title fw-bold">{{prop.title}}</h3>
            <div class="price-box">
                <p class="card-text fw-bold">${{prop.price}}</p>
            </div>
            <div class="prop-type-box">
                <p class="card-text fw-bold">{{prop.property_type}}</p>
            </div>

            <p class="card-text">{{prop.desc}}</p>

            <div class="prop-row row ">
                <div class="d-flex align-items-center  col">
                    <i class="fa fa-bed p-2"></i>
                    <p class="card-text">{{prop.bedrooms}} Bedrooms</p>
                </div>
                
                <div class="d-flex align-items-center col">
                    <i class="fa fa-shower p-2"></i>
                    <p class="card-text">{{prop.bathrooms}} Bathrooms</p>
                </div>
            </div>
            
            <div class="location-box d-flex align-items-center">
                <i class="fa fa-location-dot p-2"></i>
                <p class="card-text">{{prop.location}}</p>
            </div>
            
            <button type="submit" class="btn btn-primary">Email Realtor</button>
        </div>
       
        
        
    </div>

    

{% endblock %}