{% extends 'base.html' %}

{% block main %}

{% include 'flash_messages.html' %}

<h1 class="page-header">Properties</h1>

<div class="prop-container container-fluid">
    {% for property in properties %}
        {%set id=property[0]%}
        {%set photo=property[1]%}
        {%set title=property[2]%}
        {%set location=property[3]%}
        {%set price=property[4]%}

        <div class="card_row row gy-4">
            <div class="col-xl">
                <div class="card" >
                    <img src="{{ url_for('get_photo', filename=photo) }}" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{title}}</h5>

                        <div class="location-box">
                            <i class="bi bi-geo-alt"></i>
                            <p class="card-text text-secondary">{{location}}</p>
                        </div>
                        

                        <div class="price-box">
                            <p class="card-text">${{price}}</p>
                        </div>
                         
                    </div>
                    <div class="">
                        <button type="button" class="prop-btn btn btn-success" style="width: 100%;" onclick= "window.location.href= '{{url_for('specific_property', propertyid=id)}}'">View Property</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    {% endfor %}
    </div>

{% endblock %}